notebook==7.3.3
pydantic==2.11.2
cfgv==3.4.0
distlib==0.3.9
filelock==3.17.0
identify==2.6.7
markdown-it-py==3.0.0
mdurl==0.1.2
mypy==1.15.0
mypy-extensions==1.0.0
nodeenv==1.9.1
numpy==2.2.3
platformdirs==4.3.6
pre_commit==4.1.0
Pygments==2.19.1
PyYAML==6.0.2
rich==13.9.4
typing_extensions==4.12.2
virtualenv==20.29.2
